<%= provide :title, t("equipment.title") %>
<%= link_to t("equipment.add_equipment"), new_equipment_path, class: "btn btn-custom3" %>
<div class="content">
  <ul id="equipments" class="equipments">
    <%= render partial:"equipment", collection: @equipments %>
  </ul>
</div>
<div id="paginator1">
  <%= paginate @equipments, remote: true %>
</div>
