<li>
  <%= motel.name %>
  <%= link_to t("delete"), motel_path(motel), method: :delete,
        data: {confirm: t("delete_confirm")}, class: "delete" %>
  <%= link_to t("edit"), edit_motel_path(motel), class: "delete"  %>
  
</li>
