<%= provide :title, t("room.title") %>
<%= link_to t("room.add_room"), new_room_path, class: "btn btn-custom3" %>
<div class="content">
  <ul id="rooms" class="rooms">
    <%= render @rooms %>
  </ul>
</div>
<div id="paginator1">
  <%= paginate @rooms, remote: true %>
</div>

