<% provide :title, t("room.add_room") %>
<% provide :button, t("add") %>
<% provide :url, rooms_path %>
<h1><%= t "room.add_room" %></h1>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= render "form" %>
  </div>
</div>
