@import url(http://fonts.googleapis.com/css?family=Lora|Ubuntu:300,400,500);
@import url('https://fonts.googleapis.com/css?family=Montserrat|Delius');
@import url('https://fonts.googleapis.com/css?family=Alex+Brush');
@import "bootstrap-sprockets";
@import "bootstrap";

@mixin background-tile {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 6px #ccc;
  padding: 1.5em 1.25em;
  margin-top: 40px;
}

h1 {
  font-size: 60px;
  margin-bottom: 24px;
}

h2 {
  margin-bottom: 48px;
}

// input reset cho remember login
.input-reset {
  width: auto;
  margin-left: 8px !important;
}

// input cho add new
.label {
  float: left;
  margin-right: 10px;
  width: 170px;
  color: #222;
  font-size: 16px;
  text-align: right;
}

select, input {
  width: auto;
  border: none;
  padding-bottom: 6px;
}

.input-add-new {
  width: 70%;
}
// end


// next - prev
.pagination {
  display: block;
  text-align: center;
}

@mixin next-prev {
  border: 1px solid #E8E8E8;
  border-radius: 10%;
  margin: 3px;
  transition: 0.5s;
  a {
    color: #828282;
  }
  &:hover {
    background-color: #B5B5B5;
    a {
      color: white;
      text-decoration: none;
    }
  }
}
span.next, span.prev, span.last, span.first {
  padding: 5px 15px;
  @include next-prev;
}
span.page {
  @include next-prev;
  padding: 5px 8px;
  }

span.current {
  border: 1px solid #E8E8E8;
  margin: 3px;
  padding: 5px 8px;
  background-color: #4F4F4F;
  color: #ccc;
}
// end

//content ul li
.content ul li {
  padding: 20px;
  margin: 5px;
  border: 1px solid #E8E8E8;
  list-style-type: none;
  transition: 1s ease-in;
  background-color: #FCFAFA;
  &:hover {
    background-color: #E8E8E8;
    a {
      color: rgb(26, 21, 21);
    }
  }
}

//end

.delete {
  float: right;
}
 // phan content
.content a {
  color: #333;
  text-decoration: none;
  transition: 1s;
  &:hover {
    font-size: 22px;
    font-style: inherit;
  }
}

//end

.field {
  padding: 5px;
  &:hover {
    background-color: #F5F5F5;
    padding: 5px;
  }
}


.box {
  padding: 7px;
  width: 100%;
  border: 1px solid #ebebeb;
  transition: 0.5s;
  &:focus {
    border-color: #62c2e4;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
  }
}



/* Signup/Login form styles */

.signup-form {
  @include background-tile;

  h2 {
    margin-top: 0;
  }

}

.login-form {
  @include background-tile;

  h2 {
    margin-top: 0;
  }

}

.home-form {
  @include background-tile;
  margin: 20px 18px;
  height: 500px;
  width: 353px;
  position: relative;
  color: white;
  text-transform: capitalize
}

.home-form::before, .home-form::after {
  background-image: linear-gradient(-180deg,transparent 60%,#203218 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
}

.home-form img {
  width: 353px;
  height: 500px;
  overflow: hidden;
  left: 0;
  top: 0;
  position: absolute;
}
.home-form h1 {
  left: 50%;
  font-size: 27px;
  bottom: 60px;
  position: absolute;
  z-index: 1;
  transform: translateX(-50%);
  font-family: 'Delius', cursive;
}
.home-form h2 {
  left: 50%;
  font-size: 18px;
  bottom: 10px;
  position: absolute;
  z-index: 1;
  transform: translateX(-50%);
  font-family: 'Delius', cursive;
  font-style: italic;
}
.home-form p {
  left: 50%;
  bottom: 0;
  position: absolute;
  z-index: 1;
  transform: translateX(-50%);
  font-style: italic;
  font-size: 22px;
  font-family: 'Alex Brush', cursive;
}


// text line for homepage
span.text-line{
  color: #fbab19;
  font-size: 46px;
  font-family: 'Alex Brush', cursive;
  text-transform: none;
}
.text-line::before {
  display: inline-block;
  content: '';
  width: 65px;
  height: 1px;
  margin-right: 10px;
  margin-top: 9px;
  background-color: #fbab19;
}

// level span for head title
.title span{
  font-size: 12px;
  border-radius: 2px;
  padding: 2px 6px;
  margin: 32px 5px 18px 4px;
  background: #C6A861;
  color: #fff;
  float: left;
}

.title .name {
  font-weight: 600;
  font-size: 30px;
  color: #444;
  margin: 20px 5px 18px 4px;
  float: left;
  text-transform: capitalize;
}

//for address
.address, .phone,  {
  text-transform: capitalize;
  margin-left: 15px;
  font-size: 17px;
}
.description{
  margin-left: 15px;
  font-size: 19px;
  margin-bottom: 50px;
}

/* Button/link styles */

.btn-custom {
  color: darken(#f1c40f, 5%);
  background-color: #fff;
  border: 1px solid darken(#f1c40f, 5%);
  padding: 8px 20px;
  border-radius: 5px;
  font-family: 'Ubuntu', sans-serif;
  &:hover {
    text-decoration: none;
    background-color: darken(#f1c40f, 5%);
    color: #fff;
    transition: 0.5s;
    width: 100%;
  }
}

.btn-custom2 {
  color: #333;
  background-color: #fff;
  border: 1px solid #222;
  padding: 8px 20px;
  border-radius: 5px;
  margin: 20px 0 30px 0;
  width: 250px;
  font-family: 'Ubuntu', sans-serif;
  &:hover {
    text-decoration: none;
    background-color: #333;
    color: #fff;
    transition: 0.5s;
    width: 100%;
  }
}

.btn-custom3 {
  color: #333;
  background-color: #fff;
  border: 1px solid #222;
  padding: 4px 8px;
  border-radius: 5px;
  margin: 20px 0 30px 50px;
  width: 150px;
  font-family: 'Ubuntu', sans-serif;
  &:hover {
    text-decoration: none;
    background-color: #333;
    color: #fff;
    transition: 0.5s;
  }
}

.btn-custom4 {
  color: #fff;
  background-color: #333;
  border: 1px solid #222;
  padding: 4px 8px;
  border-radius: 5px;
  width: 150px;
  font-family: 'Ubuntu', sans-serif;
  &:hover {
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
  }
}

// img
.picture img {
  position: relative;
  height: 291px;
  border: 1px solid #e6dfdf;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.field:hover img {
  opacity: 0.3;
}

.field:hover .middle {
  opacity: 1;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  height: 450px !important;
}